<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="Git log player - animated history (network graph) of a git repository.">
        <meta name="keywords" content="git github log history network graph animated player">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Git Log Player<%= title %></title>

        <link rel="stylesheet" href="/static/css/style.css"></link>

        <!-- Libraries -->
        <script type="text/javascript" src="/static/js/libs/jquery.js"></script>
        <script type="text/javascript" src="/static/js/libs/underscore.js"></script>
        <script type="text/javascript" src="/static/js/libs/raphael.js"></script>

        <!-- Application -->
        <!-- TODO: concatenate -->
        <script type="text/javascript" src="/static/js/util.js"></script>
        <script type="text/javascript" src="/static/js/paths.js"></script>
        <script type="text/javascript" src="/static/js/animations.js"></script>
        <script type="text/javascript" src="/static/js/canvas.js"></script>
        <script type="text/javascript" src="/static/js/camera.js"></script>
        <script type="text/javascript" src="/static/js/commits.js"></script>
        <script type="text/javascript" src="/static/js/main.js"></script>

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-23368615-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>
        <div class="header">
            <div id="github_repo" class="auto right">
                <form action="">
                    https://github.com/
                    <input type="text" id="repo" value="<%= user %>/<%= repo %>" class="input_param">
                    <input type="button" id="play" value="Play" class="button">
                </form>
            </div>
            <div id="main_header">
                <a href="/">
                    <img src="/static/img/logo.png" alt="Git Log Player"></img>
                </a>
            </div>
        </div>
        <div id="canvas"></div>
        <div id="playback_controls" class="auto">
            <div class="pad left">
                <input type="button" id="pause" value="Pause" class="button">
                <input type="button" id="rewind" value="<<" class="button">
                <input type="button" id="forward" value=">>" class="button">
            </div>
            <div class="pad right">
                <input type="button" id="slower" value="Slower" class="button">
                <input type="button" id="faster" value="Faster" class="button">
            </div>
        </div>
        <div id="bottom_edge"></div>
    </body>
</html>
